html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
}

aside{
  height: auto;
  justify-content: space-around;
  display: block;
}

/*button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #9cb39e;
}
*/
body {
  min-height: 100vh;
  
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: column;
 margin: 0;
}

form {
  
  border: 1px solid #ddd;
  position: relative;
  background-color: #ffe4c429;
  border-radius: 30px;
  margin: 30px;
  padding: 40px;
}

h1 {
  color: #000000;
  padding: 10px;
  margin: 10px;
  align-content: center;
  text-align: center;
}

input {
  display: flex;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
  border: 1px solid #CCC;
  margin-top: 5px;
  height: 40px;
  border-radius: 10px;
}

label {
  margin-top: 30px;
  display: flex;
}

p{
  display: flex;
  align-content: center;
}

.buttonForm{
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  font-size:18px;
  font-weight: bold;
  background-color: lightblue;
  border: 1px solid lightblue;
flex-wrap: wrap;
  margin-top: 20px;
  border-radius: 10px;
  height: 40px;
}

.contacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 300px;
  height: 75px;
  margin: 5px auto;
}
.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
}
.containerForm{
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;

}
.container-historia{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  width: 70%;
  border-radius: 20px;
  border: 2px solid #CCC;
 
}
.container-imagen{
  
width: 90%; 
  background-size: cover;
  background-image: url(./Imagenes/super-tito.jpg);
}
.error {
  color: rgb(128, 0, 0);
  background-color: red;
}
.grid-container {
display: grid;
grid-template-columns: repeat(4, 1fr); 
grid-template-rows: repeat(3, 1fr);
grid-template-areas: menu;
gap: 20px;
}

.historia{
  justify-content: space-around;
  width: 100%;
  background-color: white;
  border: none;
}
.imagen{
  object-fit: cover;
  object-position: 0% 30%;
  width: 100%;
  height: 200px;
}
.item1 {
  background-color: rgba(199, 191, 83, 0.5);
  display: flex;
  padding: 1px;
}
.productos {
  display: flexbox;
  border: 4px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 5px;
}
.tituloProducto{
  text-transform: capitalize;
}


.contenedor-pagina-principal{
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;

}
